
  .leftBox img{
    width: 100%;
    // background-image: url("/src/assets/images/sand-left.png");
    // background-size: 100% 100%;
  }
  
  :deep(#pointList .carItem) {
    position: absolute;
    top: 93%;
    left: 9%;
    width: 2.5%;
    transform: rotate(90deg);
    transform-origin: center center;
  }
  
  
  .vehicles-box {
    width: 100%;
    
  
    // height: calc(100vh - 84px);
    // background-image: url("../../assets/images/newStudentbga1.jpg");
    // background-size: cover;
    .main {
        position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      .sandBg{
        width: 100%;
        // height: 6.43rem;
      }

      .sandBg-two {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
      }


      .pointList1 {
          position: absolute;
          top: 4%;
          left: 3%;
          width: 94%;
          height: 92%;
          border: 1px solid gold;
        }
  
      .leftBox {
        position: relative;
        display: flex;
        flex: 18;
  
        // img {
        //   width: 100%;
        // }
  
  
        .pointList {
          position: absolute;
          width: 100%;
          height: 100%;
        }
  
        .pointList1 {
          position: absolute;
          top: 4%;
          left: 3%;
          width: 94%;
          height: 92%;
          border: 1px solid gold;
        }
      }
  
      .rightBox {
        display: flex;
        flex: 2.5;
        flex-direction: column;
        background: #ffffff;
        background-image: url(../../assets/images/sand-rigjt.jpg);
        background-size: cover;
  
        img {
          width: 90%;
        }
  
        .btnStyle {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          padding: 0 !important;
          margin-top: 20px;
          cursor: pointer;
  
          p {
            position: absolute;
            color: #ffffff;
            font-size: 18px;
            text-align: center;
          }
        }
  
        .pageOne {
          display: block;
  
          .radius1 img {
            width: 70%;
          }
        }
      }
      .popover {
        width: 1.2rem;
        img{
          width: 100%;
        }
      }
      .tooltipA {
        position: absolute;
        top: 82%;
        left: 41%;
      }
      .tooltipB {
        position: absolute;
        top: 82%;
        left: 54%;
      }
      .tooltipC {
        position: absolute;
        top: 82%;
        left: 18%;
      }
      .tooltipD {
        position: absolute;
        top: 51%;
        left: 22%;
      }
      
    }
  }